workflows/WhatsApp_LLM_Chatbot_fixed.json
{
  "name": "WhatsApp LLM Chatbot",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {},
        "httpMethod": "GET"
      },
      "id": "4e17d25f-c468-49bd-b285-f89ba29cf619",
      "name": "Webhook Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        0
      ],
      "webhookId": "verify-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.query[\"hub.verify_token\"] }}",
              "rightValue": "myVerifyToken123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3089a96e-b4fa-4a00-9c05-28e83dc94503",
      "name": "Check Verify Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "id": "9b71f8eb-10a7-494e-8bc8-4aae16dfbe8b",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "9cbc3d04-aef8-49b9-9d35-c5422bb3999d",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1693a412-39b3-4c3a-9c0b-57675609c3c0",
      "name": "Webhook Incoming (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        350
      ],
      "webhookId": "incoming-whatsapp"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {}
      },
      "id": "e1676af9-f966-498a-abc2-7cb25d6b0f36",
      "name": "Ack Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -224,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the incoming WhatsApp message safely.\n// Meta sends a nested payload; this pulls out sender number + text.\nconst body = $input.first().json.body;\n\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\n\nif (!message) {\n  // Could be a status update (delivered/read) not an actual message - ignore it\n  return [];\n}\n\nconst from = message.from; // sender's WhatsApp number\nconst text = message.text?.body || '';\nconst phoneNumberId = value.metadata?.phone_number_id;\n\nreturn [{\n  json: {\n    from,\n    text,\n    phoneNumberId\n  }\n}];"
      },
      "id": "285a7131-11e0-46c7-90d4-3e29161f21a5",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('Extract Message').item.json.phoneNumberId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  messaging_product: \"whatsapp\",\n  to: $('Extract Message').item.json.from,\n  type: \"text\",\n  text: { body: $json.text }\n} }}",
        "options": {}
      },
      "id": "4b663ba6-7bb2-4235-aec9-f15158199e58",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        350
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a helpful, friendly assistant replying to messages over WhatsApp. Keep replies concise and conversational."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        240,
        350
      ],
      "id": "d64cb3fe-7a7c-4e7d-89c2-5ff8eb52d386",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        550
      ],
      "id": "9ba23f9d-da32-4cbc-b142-b796e6af4663",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GNmP7AAOdULHDJZG",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Verify (GET)": {
      "main": [
        [
          {
            "node": "Check Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Verify Token": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Incoming (POST)": {
      "main": [
        [
          {
            "node": "Ack Meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ab8f48c3-98b2-489b-8604-07730efac3c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4d160acb2e616c7ff63005c68f193378118898a91efe75a677f99a449b51796"
  },
  "nodeGroups": [],
  "id": "I9FnZS1BXkDwOnHo",
  "tags": []
}